//! **************************************************************************
// Written by: Map P.20131013 on Sat Jan 23 22:53:24 2021
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

